@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;600&display=swap');

*{
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-image: radial-gradient(#9f9f9f, #fff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    text-align: center;
    padding: 10px;
}

.container{
    width: 90%;
    height: 640px;
    background-color: rgba(255,255,255,0.3);
}

.container:hover{
    background-color: rgba(255,255,255,0.6);
}

button{
    font-size: 15px;
    padding: 15px 15px;
    border-radius: 15px;
    border: solid;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
}

ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 100px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button:hover{
    background-color: #fff;
    opacity: 0.9;
}

.soundbuttons{
    float: left;
}

.projects{
    float: left;
}